.social {
  display: flex;
  // margin-top: 10px;
  justify-content: space-around;
  align-items: end;
}

.social-network__icon {
  width: 36px;
  height: 36px;
  fill: var(--primary-color);
  @media screen and (max-width: 960px) {
    width: 24px;
    height: 24px;
  }
}
