.header {
  z-index: 5;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}
.header-position {
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__logo {
  margin-right: 40px;
  width: 35px;

  @media screen and (min-width: 480px) {
    margin-right: 130px;
    width: 35px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 75px;
    width: 35px;
  }

  @media screen and (min-width: 960px) {
    margin-right: 90px;
    width: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 170px;
    width: 80px;
  }
}
.header__icon-menu {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  font-family: 'Raleway';
  font-weight: 400;

  line-height: 1.19;
  text-shadow: var(--shadow);
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 960px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.menu__about-us {
  @media screen and (max-width: 960px) {
    display: none;
  }
}
