.solutions {
  // margin-top: 100px;
}

.solutions__item {
  display: block;
  align-items: center;
  text-align: center;

  margin-top: 60px;
  font-size: 12px;
  line-height: 1.45;

  @media screen and (min-width: 480px) {
    font-size: 13px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    font-size: 15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 16px;
  }
}

.solutions__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.solutions__item:nth-child(2n + 1) > p {
  margin-right: 50px;
}

.solutions__item:nth-child(2n) > p {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .solutions__text {
    margin-bottom: 15px;
  }
  .solutions__item:nth-child(2n + 1) > p {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .solutions__item:nth-child(2n) > p {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .solutions__text {
    width: 240px;
  }
}

.solutions__img {
  margin-left: auto;
  margin-right: auto;
  width: 180px;

  @media screen and (min-width: 480px) {
    width: 200px;
  }

  @media screen and (min-width: 768px) {
    width: 260px;
  }

  @media screen and (min-width: 960px) {
    width: 270px;
  }

  @media screen and (min-width: 1200px) {
    width: 500px;
  }
}

.background-solution {
  background: var(--shadow-color-section);
  opacity: 0.94;
  box-shadow: var(--shadow);
}

/* ------------------PAGE 4 (SOLUTIONS-PAGE)----------------- */
.page-solutions {
  margin-top: 100px;
  @media screen and (max-width: 959.98px) {
    margin-top: 60px;
  }
}

.page-solutions__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-solutions__item:nth-child(2n) {
  flex-direction: row-reverse;
  // padding-left: 107px;
}

.page-solutions__item li:not(:last-child) {
  // padding-right: 107px;
  // padding-left: 107px;
  // margin-bottom: 107px;
  padding: 20px;
}
