.section-work {
  padding-top: 20px;
  padding-bottom: 130px;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
}

.work-list {
  display: flex;
  width: 626px;
  text-align: center;
}
.work__subtitle {
  font-size: 13px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 960px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.work-list__item {
  position: absolute;
}

.work-list__card {
  width: 200px;
  height: 305px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 137px;
}
.work-list__img {
  width: 100%;
  border-radius: 50%;
}
.work-list__icon {
  width: 100%;
  margin-top: 8px;
}
.work-list__title {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 22px;
  text-align: center;
}

.work-list__description {
  display: none;
}
.work__description {
  @media screen and (max-width: 479.98px) {
    display: none;
  }
  @media screen and (min-width: 480px) {
    font-size: 13px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 960px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
.work-list__description--is-active {
  display: block;
}

.work-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 45px;
}
